#root {
  max-width: 1280px;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
}


.center {
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    transform: translate(-50%, -50%);
}